<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
    <title>Document</title>
    <script>
       /* alert('Affichage en javaScript');
        alert("une instruction JavaScript");
        alert(54.2);
        var x = 25;
        var y = -100;
        var z = 3.14;
        var prenom = "mbog", nom ="samy";
        var a = true;
        var n = null;
        */

    </script>
</head>
<body>
    <header class="my-2 border border-primary py-3 px-5">
        Navbar by : <strong>Jordan</strong> ( stp n'oublie pas de faire que ça soit fixe à un moment... )
    
    </header>
    <br>
    <div class="container" style="text-align: center;">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="Img/5e6a61242300000d1e3a3249.jpeg" alt="" sizes="" srcset="">
        </div>
         </div>
         <div class="container" style="text-align: center; margin-top: 10%;">
            <h1>Que devons nous savoir le savoir sur le COVID-19?</h1>
         </div>
        <hr class="featurette-divider bg-primary bg-primary" style="width: 4%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen;" >
        <p class="lead">
            
        </p>
      </div>
    <br>
    <div class="container">
      <div class="row border mx-1 my-5 px-5 py-5 w-100">
        <div class="row featurette">
          <div class="col-lg-6" >
            <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/12120283-3d-petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
          </div>
          <div class="col-lg-6" >
            <h2 class="featurette-heading"><u>Qu’est-ce que le « nouveau » coronavirus ? </u> 
            </h2>
            <p class="lead"><h5>Le nouveau coronavirus (CoV) est une nouvelle souche de coronavirus.
              D’abord appelée « nouveau coronavirus 2019 » ou « nCoV-2019 », la maladie provoquée par le nouveau 
              coronavirus identifiée pour la première fois à Wuhan, en Chine, a été rebaptisée « maladie à 
              coronavirus 2019 » (COVID-19) – « CO » pour corona, « VI » pour virus et « D » pour maladie en anglais.
              Le virus de la COVID-19 est un nouveau virus de la même famille que d’autres virus tels que le syndrome 
              respiratoire aigu sévère (SRAS) et certains types de rhumes courants.</h5>
              </p>
          </div>
         
        </div>
      </div>
      <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
      <div class="row border mx-1 my-5 px-5 py-5 w-100">
        <div class="row featurette">
          <div class="col-lg-6" >
            <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/12120283-3d-petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
          </div>
          <div class="col-lg-6" >
            <h2 class="featurette-heading"><u>Comment se propage la COVID-19 ? </u> 
            </h2>
            <p class="lead"><h5>Le virus se transmet par contact direct avec les gouttelettes respiratoires produites par une personne 
              infectée (lorsqu’elle tousse ou éternue) et au contact de surfaces contaminées par le virus. Le virus de la 
              COVID-19 peut survivre sur les surfaces pendant plusieurs heures, mais de simples désinfectants peuvent 
              le tuer.
              Couramment, on dit que le virus ne voyage pas, ce sont les hommes qui le font voyager.</h5>
              </p>
          </div>
         
        </div>
      </div>
      <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
      <div class="row border mx-1 my-5 px-5 py-5 w-100">
        <div class="row featurette">
          <div class="col-lg-6" >
            <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/12120283-3d-petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
          </div>
          <div class="col-lg-6" >
            <h2 class="featurette-heading"><u>Quels sont les symptômes du coronavirus ?  </u> 
            </h2>
            <p class="lead"><h5>Les symptômes les plus courants peuvent inclure:</p> 
             <p>• de la fièvre</p> 
             <p>• La fatigue </p> 
             <p>• La toux</p> 
            <p> Dans les cas les plus graves, l’infection peut provoquer une pneumonie ou des difficultés respiratoires. 
              Selon l’OMS, 80% des personnes guérisesent sans avoir besoin de traitement particulier. Plus rarement, la 
              maladie peut être mortelle.
              Certains patients présenteront des douleurs, une congestion nasale, un écoulement nasal, des laux de 
              gorge ou une diarrhée. D’autres, bien qu’infectées ne présenteront aucun symptome. 
              Ces symptômes sont comparables à ceux de la grippe (influenza) ou d’un rhume banal, des maladies 
              beaucoup plus courantes que la COVID-19, d’où la nécessité de procéder à des examens afin de confirmer 
              qu’une personne est bien atteinte de la COVID-19.</h5>
              </p>
          </div>
         
        </div>
      </div>
      <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
      <div class="row border mx-1 my-5 px-5 py-5 w-100">
        <div class="row featurette">
          <div class="col-lg-6 order-md-2" >
            <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
          </div>
          <div class="col-lg-6 order-md-1" >
            <h2 class="featurette-heading"><u>La COVID-19 touche-t-elle les enfants? </u> 
            </h2>
            <p class="lead"><h5>Il s’agit d’un nouveau virus si bien que nous manquons encore de données sur ses effets sur les enfants et 
              les femmes enceintes. Nous savons que des personnes de tous les âges peuvent être infectées par le virus, 
              mais, pour l’heure, relativement peu de cas de COVID-19 ont été signalés chez les enfants. Le virus n’est 
              mortel que dans de rares cas et les décès enregistrés jusqu’à présent ont principalement concerné des 
              personnes plus âgées qui avaient déjà des problèmes de santé.
              </h5>
              </p>
          </div>
         
        </div>
      </div>
      <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
      <div class="row border mx-1 my-5 px-5 py-5 w-100">
        <div class="row featurette">
          <div class="col-lg-6" >
            <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/12120283-3d-petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
          </div>
          <div class="col-lg-6" >
            <h2 class="featurette-heading"><u>Que faire si mon enfant (ou moi) présente des symptômes de la COVID-19 ?  </u> 
            </h2>
            <p class="lead"><h5>Consultez un médecin et continuez d’observer de bonnes pratiques d’hygiène des mains et d’hygiène 
              respiratoire, en vous lavant régulièrement les mains et en veillant à ce que votre enfant soit à jour de
              ses vaccins de manière à le protéger contre les autres virus et bactéries responsables de maladies.
              Comme dans le cas d’autres infections respiratoires telles que la grippe, consultez un médecin si vous ou 
              votre enfant présentez des symptômes et essayez d’éviter les lieux publics (lieu de travail, école, transports 
              publics) afin de ne pas transmettre le virus à d’autres personnes.</h5></p>
              <p>
                <h5> Il est conseillé d’utiliser les numéros d’urgence en place par le gouvernement. Les équipes 
                  apprécieront de la bonne conduite à tenir et vous donneront les conseils utiles.
                  </h5>
              </p>
          </div>
         
        </div>
      </div>
      <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
      <div class="row border mx-1 my-5 px-5 py-5 w-100">
        <div class="row featurette">
          <div class="col-lg-6 order-md-2" >
            <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
          </div>
          <div class="col-lg-6 order-md-1" >
            <h2 class="featurette-heading"><u>Les femmes enceintes peuvent-elles transmettre le coronavirus au fœtus ?  </u> 
            </h2>
            <p class="lead"><h5>Pour l’heure, les éléments dont nous disposons sont insuffisants pour établir si le virus se transmet de la 
              mère au fœtus durant la grossesse ou pour déterminer ses effets potentiels sur le fœtus. Des études sont 
              en cours à ce sujet. Les femmes enceintes doivent continuer d’observer les mesures de précaution 
              adaptées afin de se protéger de l’exposition au virus et consulter immédiatement un médecin si elles 
              présentent des symptômes tels que de la fièvre, de la toux ou des difficultés respiratoires.</h5>
              </p>
          </div>
         
        </div>
      </div>
      <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
      <div class="row border mx-1 my-5 px-5 py-5 w-100">
        <div class="row featurette">
          <div class="col-lg-6" >
            <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/12120283-3d-petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
          </div>
          <div class="col-lg-6" >
            <h2 class="featurette-heading"><u>Une mère infectée par le coronavirus peut-elle continuer d’allaiter son enfant en toute sécurité ? </u> 
            </h2>
            <p class="lead"><h5>Toutes les mères vivant dans des régions touchées par le virus ou à risque présentant des symptômes de 
              fièvre, de toux ou de difficultés respiratoires doivent consulter immédiatement un médecin et suivre ses 
              instructions.
              Compte tenu des bienfaits de l’allaitement et du rôle insignifiant du lait maternel dans la transmission 
              d’autres virus respiratoires, la mère peut continuer d’allaiter, tout en observant les précautions 
              nécessaires.4
              Les mères présentant des symptômes, mais qui vont suffisamment bien pour allaiter, doivent porter un 
              masque à proximité de leur enfant (y compris pendant qu’elles le nourrissent), se laver les mains avant et 
              après avoir été contact avec lui (y compris pendant qu’elles le nourrissent) et nettoyer/désinfecter les 
              surfaces contaminées, comme doit le faire toute personne infectée de manière présumée ou confirmée 
              par la COVID-19 et en contact avec d’autres personnes, notamment des enfants. 
              Les mères trop malades pour allaiter doivent être encouragées à tirer leur lait et à le donner à leur enfant 
              à l’aide d’une coupelle et/ou d’une cuillère propres – tout en observant les mêmes méthodes de prévention 
              de l’infection.</h5>
              </p>
          </div>
         
        </div>
      </div>
      
      <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">

      <div class="row border mx-1 my-5 px-5 py-5 w-100">
        <div class="row featurette">
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/12120283-3d-petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
          </div>
          <div class="col-lg-4">
            <h2 class="featurette-heading"><u>Comment me laver les mains correctement ?</u>  
            </h2>
            <p class="lead"><h5>Pour éliminer toutes les traces de virus sur vos mains, il ne suffit pas de vous frotter et de vous rincer
              rapidement les mains. Voici la marche à suivre, étape par étape, pour vous laver les mains efficacement.</h5> </p>
             <h5><p>• 1ere étape : Mouillez-vous les mains à l’eau courante.</p>
            <p>• 2e étape : Appliquez suffisamment de savon pour recouvrir vos mains mouillées.</p>  
            <p>• 3e étape : Frottez toute la surface de vos mains, sans oublier le dos des mains et les espaces entre 
              les doigts et sous les ongles, pendant au moins 20 secondes.11</p> 
            <p>• 4e étape : Rincez-vous soigneusement les mains à l’eau courante.</p>  
            <p>• 5e étape : Séchez-vous les mains avec un linge propre ou avec une serviette à usage unique
              </p></h5>
          </div>
          <div class="col-lg-4">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
              height="500" src="Img/Lavage.jpg" aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice" role="img" focusable="false" alt="">
              <title>Placeholder</title>
              <!--<rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>-->
            
          </div>
        </div>
      </div>
    
    <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
    <div class="row border mx-1 my-5 px-5 py-5 w-100">
      <div class="row featurette">
        <div class="col-lg-4 order-md-3">
          <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/images (6).jfif" width="300" height="300" alt="">
        </div>
        <div class="col-lg-4 order-md-2">
          <h2 class="featurette-heading"><u>Est-il préférable de se laver les mains ou d’utiliser une solution hydroalcoolique ?</u>  
          </h2>
          <p class="lead"><h5>De manière générale, le lavage des mains à l’eau et au savon et le gel hydroalcoolique sont très efficaces 
            pour tuer la plupart des germes et des agents pathogènes, à condition d’être réalisé ou utilisé 12
            correctement. Les solutions hydroalcooliques sont souvent plus pratiques à l’extérieur, mais elles peuvent 
            être chères ou difficiles à trouver dans des contextes d’urgence. De plus, elles permettent de tuer le 
            coronavirus, mais ne tuent pas tous les types de bactéries et de virus. Elles sont relativement peu 
            efficaces contre le norovirus et le rotavirus, par exemple.</h5> </p>
        </div>
        <div class="col-lg-4 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
            height="500" src="Img/Desinfection.jpg" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" role="img" focusable="false" alt="">
            <title>Placeholder</title>
            <!--<rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>-->
          
        </div>
      </div>
    </div>
    <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
        
        <div class="row border mx-1 my-5 px-5 py-5 w-100">
          <div class="row featurette">
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/12120283-3d-petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
            </div>
            <div class="col-lg-4" >
              <h2 class="featurette-heading"><u>Dois-je porter un masque médical ?</u> 
              </h2>
              <p class="lead"><h5>Le port d’un masque médical est conseillé si vous présentez des symptômes respiratoires (toux ou 
                éternuements) afin de protéger les personnes qui vous entourent. 
                En l’absence de symptômes, il n’est pas nécessaire de porter un masque.
                Si vous portez un masque, assurez-vous de l’utiliser et de l’éliminer correctement afin de garantir son 
                efficacité et de ne pas aggraver les risques de transmission du virus.
                La seule utilisation d’un masque ne suffit pas à arrêter les infections et doit être associée aux autres 
                mesures édictées : se laver fréquemment les mains, se couvrir la bouche et le nez lorsque l’on éternue et 
                que l’on tousse, et éviter tout contact rapproché avec des personnes présentant des symptômes 
                comparables à ceux d’un rhume ou de la grippe (toux, éternuements et fièvre).</h5> 
                </p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                height="500" src="Img/Masque.jpg" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" role="img" focusable="false" alt="">
                <title>Placeholder</title>
                <!--<rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>-->
              
            </div>
          </div>
        </div>
        <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
        
        <div class="row border mx-1 my-5 px-5 py-5 w-100">
          <div class="row featurette">
            <div class="col-lg-4 order-md-3">
              <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/images (6).jfif" width="300" height="300" alt="">
            </div>
            <div class="col-lg-4 order-md-2">
              <h2 class="featurette-heading">Respectez une distance de sécurité d’au moins un mètre avec les autres
              </h2>
              
            </div>
            <div class="col-lg-4 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                height="500" src="Img/Distanciation.jpg" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" role="img" focusable="false" alt="">
                <title>Placeholder</title>
                <!--<rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>-->
              
            </div>
          </div>
        </div>
        <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
        
        <div class="row border mx-1 my-5 px-5 py-5 w-100">
          <div class="row featurette">
            <div class="col-lg-4" >
              <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/12120283-3d-petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
            </div>
            <div class="col-lg-4" >
              <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span>
              </h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                height="500" src="Img/Hôpital.jpg" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" role="img" focusable="false" alt="">
                <title>Placeholder</title>
                <!--<rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>-->
              
            </div>
          </div>
        </div>
        <hr class="featurette-divider" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
        
        <div class="row border mx-1 my-5 px-5 py-5 w-100">
          <div class="row featurette">
            <div class="col-lg-4 order-md-3" >
              <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
            </div>
            <div class="col-lg-4 order-md-2" >
              <h2 class="featurette-heading"><u>Les personnes qui s’occupent de toi assureront ta sécurité et ta protection</u> 
              </h2>
              <p class="lead"><h5> C'est pour cela que les adultes regardent les nouvelles sur le nouveau coronavirus. Ils apprennent à prendre 
                soin de toi et à te protéger pour que tu allies bien. 
                Si tu te sens malade, des adultes prendront soin de toi pour que tu puisses aller mieux rapidement. 
                (ILLUSTRATION AVEC UN TON TRÈS POSITIF)
                Et si tu as été en contact avec une personne atteinte d'un coronavirus, il se peut que tu doives rester à la 
                maison pendant quelques jours même si tu te sens bien. Ainsi, ils peuvent mieux s'occuper de toi si tu 
                commences à te sentir malade et empêcher le virus de se propager à d'autres enfants. 
                Il peut aussi arriver que pendant quelques jours tu ne puisses pas aller à la crèche ou à l’école maternelle 
                et que tu ne sois pas content de cela, mais c'est important parce que c'est un moyen de te protéger 
                contre l'infection.
                En attendant, de nombreux scientifiques s'efforcent d'empêcher le virus de voyager et cherchent des 
                vaccins afin que nous soyons tous protégés.
                Parle aux adultes qui t’accompagnent et qui s'occupent de toi, et pose leur toutes les questions que tu as.</h5></p>
            </div>
            <div class="col-lg-4 order-md-1" st>
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                height="500" src="Img/images (1).png" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" role="img" focusable="false" alt="">
                <title>Placeholder</title>
                <!--<rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>-->
            </div>
          </div>
        
    </div>
    <hr class="featurette-divider bg-primary" style="width: 50%; height: 1px; color: mediumspringgreen; background-color: mediumspringgreen">
    <div class="row border mx-1 my-5 px-5 py-5 w-100">
      <div class="row featurette">
        <div class="col-lg-6">
          <img class="bd-placeholder-img rounded-circle img-fluid mx-auto" src="Img/12120283-3d-petit-personnage-humain-le-docteur-thème-blue-les-gens-de-la-série-.jpg" width="300" height="300" alt="">
        </div>
        <div class="col-lg-6" >
          <h2 class="featurette-heading"><u>Quelles autres mesures puis-je prendre pour enrayer la propagation du coronavirus ?</u> 
          </h2>
          <p class="lead"><h5>Ayez les bons réflexes lorsque vous éternuez et toussez : couvrez-vous la bouche et le nez avec le pli du 
            coude ou un mouchoir lorsque vous toussez ou éternuez, puis jetez immédiatement le mouchoir usagé et 
            lavez-vous les mains.</h5>
            </p>
            <p><h5>• Évitez de vous toucher le visage (bouche, nez, yeux).</h5></p>
            <p><h5>• Pratiquez l’éloignement social : évitez de serrer des mains, de prendre les gens dans vos bras et de 
              les embrasser, de partager de la nourriture, des couverts, des verres et des serviettes.
              </h5></p>
            <p><h5>• Évitez tout contact rapproché avec des personnes présentant des symptômes comparables à ceux 
              d’un rhume ou de la grippe.</h5></p>
            <p><h5>• Obtenez rapidement un avis médical si vous toussez, ou si vous avez de la fièvre ou des difficultés à 
              respirer, ou si vous observez les mêmes symptômes chez votre enfant.</h5></p>
            <p><h5>• Nettoyez les surfaces susceptibles d’avoir été en contact avec le virus et, de manière générale, 
              nettoyez les surfaces plus fréquemment (en particulier dans les lieux publics).</h5></p>
            
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="container" style="text-align: center; margin-top: 10%;">
    <h3>Assurez-vous de partager ces conseils avec votre entourage ! Surmonter une telle 
      pandémie est un effort collectif et nous devons agir tous ensemble.</h3>
 </div>
        <fieldset class="border border-dark rounded" style="width: 100%;border: 3px groove ; padding: 10%; text-align: center;" aria-pressed="false">
        <legend style="width: auto !important;"><img src="imge/Screenshot 2021-03-28 161452.jpg" alt="" style="padding-top: 16%;"></legend>
        
        </fieldset>
    <footer>
      
    </footer>
</body>
</html>